.container {
    display: flex;    
    justify-content: right;
    margin-right: 35px;
    position: relative;
    
}
.cartLogo{    
    border-radius: 100%;
    top: 10%;
    right: 1%;
    position: absolute;
    padding: 3px;
}