.container {
    display: flex;    
    justify-content: right;
    margin-right: 35px;
    position: absolute;
    z-index: -1000;
    right: 0;
    width: fit-content;
    
}
.cartLogo{    
    border-radius: 100%;
    top: 10%;
    right: 1%;
    position: absolute;
    padding: 3px;
    z-index: -100;
}