.cartBadge{
    position: absolute;
    right: 0;
    font-size: 0.8rem;
    font-weight: bold;
    height: 1rem;
    width: 1rem;
    border-radius: 100%;        
    text-align: center;
    transform: translateX(3);
}