.grid {
    display: grid;    
    width: fit-content;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
    column-gap: 50px;
    row-gap: 100px;
    padding: 50px;
    max-height: 500px;
    overflow-y: auto;
    place-items: center;
    border-radius: 16px;
    margin-right:  100px;
    margin-left: 100px;
    object-fit: cover;
    margin-top: 6%;
}
.image{
    width: fit-content;
    
}
.searchbar{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-right: 19%;
    margin-bottom: 8px;
}
.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);   
    width: 100%;
    height: fit-content;
    border-radius: 16px;
    margin-right:  100px;
    margin-left: 100px;
    padding: 50px;
    place-items: center;
    background-color: white;
}
.productImage{
    width: 250px;
    height: auto;
}
.detailsContainer{
    display: flex;
    flex-direction: row;    
}
.details {
    width: 500px;
    height: fit-content;
    border-radius: 20px;
}
.gridItem{
    display: flex;
    width: 100%;
    flex-direction: column;
    
}
.actionButton{
    border: none;
    height: 34px;
    width: 89px;
    border-radius: 8px;

}
.phoneUl * + *{
    margin-top: 1rem;
    padding-right: 16px;
}
.detailsHead {
    padding-left: 16px;    

}
.actions{
    display: flex;
    padding: 16px;
    align-content: center;
    gap: 8px;
}

.selected {
    background-color: #4CAF50; /* Color de selección */
    color: white;
  }
  
  .hovered {
    background-color: #e0e0e0; /* Color de hover */
  }
  
  .warning {
    color: red;
    font-size: 0.9em;
    margin-top: 8px;
  }