.grid {
    display: grid;    
    width: fit-content;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
    column-gap: 50px;
    row-gap: 100px;
    padding: 50px;
    max-height: 720px;
    overflow-y: auto;
    place-items: center;
    border-radius: 16px;
    margin-right:  100px;
    margin-left: 100px;
    object-fit: cover;
    margin-top: 6%;
}
.image{
    width: fit-content;
    
}
.searchbar{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-right: 19%;
    margin-bottom: 8px;
}
.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);   
    width: 100%;
    height: fit-content;
    border-radius: 16px;
    margin-right:  100px;
    margin-left: 100px;
    padding: 50px;
    place-items: center;
    background-color: white;
}
.productImage{
    width: 250px;
    height: auto;
}
.detailsContainer{
    display: flex;
    flex-direction: row;    
}
.details {
    width: 500px;
    height: fit-content;
    border-radius: 20px;
}
.gridItem{
    display: flex;
    gap: 21px;
    width: 100%;
    flex-direction: column;
    
}

.actionsContainer {
    width: 500px;
    border-radius: 20px;
}
.actionButton{
    border: none;
    height: 34px;
    width: 89px;
    border-radius: 8px;

}

.actions{
    display: flex;
    padding: 16px;
    justify-content: center;
    gap: 8px;
}
.phoneUl * + *{
    margin-top: 1rem;
    padding-right: 16px;
}
.padding16 {
    padding-left: 16px;    

}
.textCenter {
    text-align: center;
}

.selected {
    background-color: #4CAF50; /* Color de selección */
    color: white;
  }
  
  .hovered {
    background-color: #e0e0e0; /* Color de hover */
  }
  
  .warning {
    color: red;
    font-size: 0.9em;
    margin-top: 8px;
  }

  .addButtonContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 21px;
    padding-top: 20px;
  }
  .addButton{
    color: white;
    border: none;
    height: 60px;
    padding: 16px;
    border-radius: 8px;
    font-size: 21px;
  }
  .arrowBack{
    font-size: 55px;
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  .gridItem2{    
    display: flex;
    width: 100%;
    gap: 250px;
    align-items: center;
    color: gray;
  }
  .loaderContainer{
    display: grid;
    height: 100%;
    place-items: center;
  }